
/* main color: #7D7B73 */
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,600,900);

body, html{
	margin:0px;
	padding:0px;
	font-family: 'Titillium Web', sans-serif;
	background: url("witewall_3_@2X.png") repeat top left;
}

h1{
	font-family: 'Titillium Web', sans-serif;
	font-weight: 900;
}


/**********FOUNDATION RESET*****************/


.buttonReset{
	font-weight:normal;
	padding: 5;
	border-radius: 5px;
	background-color: #3498db;
}

.row h3{
	margin: 0px 0px 5px;
}


/*****************NAV*********************/
.navBar{
	background-color: #2f2f2f;
	position: fixed;
	top: 0;	
	transition: all 0.3s linear 0;
	width:100%;
	z-index: 100;
	height: 72px;
}

.navBar:hover{
	height: 117px;
}


.navContainer{
	background-color: #2f2f2f;
	margin: 0 auto;
	width: 980px;
}


.mainBody{
	padding: 84px 15px 0px;
	background-color: rgba(255, 255, 255, .6);
	box-shadow: 0px 0px 20px #ccc;
}

.subLevelNav{
	clear:both;
	opacity: 0;
	height: 0;
}

.navBar:hover .subLevelNav{
	opacity: 100;
	transition: all 0.1s linear 3s;
	-webkit-transition: opacity 0.1s ease-out 0.1s;
}

.topLevelNav a h4{
	color: #3498db;
	margin:0;
}

.topLevelNav .login{
	padding: 19px;
	text-align: right;
	margin: 0px 0px 0px 20px;
	display: inline-block;
	float: right;
}

.topLevelNav .login:hover{
	background-color: #50136E;
}

.hello{
	font-size: 1.3em;
	float: right;
	color: #ddd;
	padding-top: 22px;
}

.subLevelNav a{
	padding: 10px 19px;
	text-align: right;
	margin: 0px 0px 0px 20px;
	display: inline-block;
	float: right;
}

.subLevelNav a:hover{
	background-color: #50136E;
}

.subLevelNav h3{
	color: #ddd;
	padding: 0 20px;
	font-weight: 400;
	float:left;
}

.subLevelNav h5{
	color: #3498db;
	margin:0;
}

.navContainer h1{
	color: #7D7B73;
	float:left;
	padding: 5px 20px;
	margin: 0;
}

.navContainer a:hover h1{
	background-color: #50136E;
}

.navContainer .icon-cogs{
	color: #3498db;
	padding: 19px;
	text-align: right;
	margin: 0px;
	display: inline-block;
	float: right;
	font-size: 2em;
}

.displayDesc{
	height: 90px;
	margin-bottom: 10px;
	overflow: hidden;
	transition: all 0.3s linear;
}

.fullDesc{
	height: 300px;
	overflow: scroll;
}

.voteCount{
	margin: 10px 0;
	font-size: 1.3em;
}

.votesBox{
	text-align: right;
}

.voteUp{
	font-size: 2em;
}

.voteNum{
	font-size: 1.5em;
	display: inline-block;
}

.ideaSubmit{
	margin-top: 10px;
}

.avatar{
	width:100px;
}

/***********************Profile Page and Profile Items*******************************/

.edit-title {
	font-size: .25em;
	vertical-align: bottom;
}