
/* main color: #7D7B73 */
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,600,900);

body, html{
	margin:0px;
	padding:0px;
	font-family: 'Titillium Web', sans-serif;
}

h1{
	font-family: 'Titillium Web', sans-serif;
	font-weight: 900;
}

/**********FOUNDATION RESET*****************/

.panel{
	margin: 0px;
	background-color: #2f2f2f;
	border:none;
}


.columns .panel{
	padding: 0 ;
}


/*****************NAV*********************/

.navContainer{
	width:100%;
	background-color: #2f2f2f;
	position: fixed;
	top: 0;
	z-index: 100;
}

.mainBody{
	margin-top: 84px;
}

.panel h1{
	color: #7D7B73;
	padding: 10px;
	margin: 0;
	width: 187px;
}

.panel a:hover h1, .panel a:hover h4{
	background-color: #50136E;
}

.panel h4{
	color: #3498db;
	padding: 20px;
	text-align: right;
	margin: 0 0 0 auto;
	width: 100px;
}

.votes{
	margin: 10px 0;
}

.votesBox{
	text-align: right;
}

span.icon{
	font-size: 3em;
}

.interested{
	font-weight:normal;
	padding: 5;
	border-radius: 5px;
	background-color: #3498db;
}


