<html>
<head>
	<title>Idea Hub</title>
  <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/foundation.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	<!-- Header and Nav -->
  <div class="navBar">
    <div class="navContainer">
      <div class="topLevelNav">
        <h1><a href="user.html">IdeaHub</a></h1>
        <i class="icon-cogs"></i>
        <div class="hello"></div>
      </div>
      <div class="subLevelNav">
        <h3 class="subHeadLine">We haz idea!</h3>
        <div class="subNavLinks">
          <h5><a href="#" class="logOut">Log out</a></h5>
          <h5><a href="form.html">Add Idea!</a></h5>
          <h5><a href="#">Profile</a></h5>
        </div>
      </div>
    </div>
  </div>
  <!-- End Header and Nav -->
  
  <div class="row mainBody">

  <!-- Main Feed -->
    <div class="large-12 columns">
      <div class="singleIdeaFeed"></div>
    </div>

  <!-- Single Idea Template -->
    <script type="text/template" class="singleIdeaTemplate">
      <div class="row">
        <div class="large-2 small-2 columns">
          <span class="avatar"><img src="<%= avatar %>"/></span>
          <span class="author"><a href="profile.html?authorId=<%=authorId%>"><%= author %></a></span><br/><br/>
          <span class="numWanted">Looking for <%= numWanted %> members.</span><br/><br/>
          <span class="desiredSkills">Desired skills:<br/><%= desiredSkills%></span>
        </div>
        <div class="large-10 small-10 columns">
          <h2 class="ideaTitle"><%= ideaTitle %></h2>
          <p><%= ideaDesc %><p>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          
        </div>
      </div>
    </script>


 
  <!-- Footer -->
   <footer>
      <div class="large-12 small-12 columns">
        <hr />
        <div class="row">
          <div class="large-5 small-5 columns">
            <p>IdeaHub: We haz ideas!</p>
          </div>
          <div class="large-7 small-7 columns">
            <ul class="inline-list right">
              <li><a href="#">Section 1</a></li>
              <li><a href="#">Section 2</a></li>
              <li><a href="#">Section 3</a></li>
              <li><a href="#">Section 4</a></li>
              <li><a href="#">Section 5</a></li>
              <li><a href="#">Section 6</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>

<script src="js/vendor/jquery-1.10.2.js" type="text/javascript"></script>
<script src="js/vendor/underscore.js" type="text/javascript"></script>
<script src="js/vendor/backbone.js" type="text/javascript"></script>
<script src='js/vendor/firebase-simple-login.js' type='text/javascript'></script>
<script src="js/vendor/tinymce/tinymce.min.js" type="text/javascript"></script>
<script src='js/vendor/firebase.js'></script>

<script src="js/script2.js" type="text/javascript"></script>

</body>
</html>