<html>
<head>
	<title>Idea Hub</title>
  <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/foundation.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	<!-- Header and Nav -->
  <div class="navBar">
    <div class="navContainer">
      <div class="topLevelNav">
        <a href="#"><h1>IdeaHub</h1></a>
        <i class="icon-cogs"></i>
        <div class="hello"></div>
      </div>
      <div class="subLevelNav">
        <h3>We haz idea!</h3>
        <a href="#" class="logOut"><h5>Log out</h5></a>
        <a href="form.html"><h5>Add Idea!</h5></a>
        <a href="#"><h5>Profile</h5></a>
      </div>
    </div>
  </div>
  <!-- End Header and Nav -->
  <div class="row mainBody">

  <!-- Main Feed -->

  <div class="large-12 columns">



  <!--Start Templating-->
  <div id="ideaFeed"></div>

 <script class="ideaTemplate" type="text/template">
        <div class="row">
          <div class="large-2 columns small-3 avatar"><img src="<%= avatar %>" /><br>
            <p class="author"><%=author%></p>
          </div>
          <div class="large-8 columns small-7">
            <h3 class="ideaTitle"><%= ideaTitle %></h3> 
          
            <div class="ideaDesc"><%= ideaDesc %></div>
            <ul class="inline-list">
              <li><a href="" class="showMoreDesc">Show More</a></li>
              <li><a href="https://twitter.com/share" class="twitter-share-button" data-text="Great Idea:">Tweet</a></li>
            </ul>
          </div>
          <div class="large-2 columns small-2 votesBox">
            <div><a class="voteUp" href="" data-idea-id="<%= ideaId %>"><%= voted %></a></div>
            
            <div data-idea-id="<%= ideaId %>" class="voteCount">votes: <span class="voteNum"><%= votes %></span></div>
            <button class="interest buttonReset"><%= interested %></button>
          </div>
        </div>
  </script>

  <!--End Templating-->

 
  <!-- Footer -->
 
    <footer class="row">
      <div class="large-12 small-12 columns">
        <hr />
        <div class="row">
          <div class="large-5 small-5 columns">
            <p>&copy; Copyright no one at all. Go to town.</p>
          </div>
          <div class="large-7 small-7 columns">
            <ul class="inline-list right">
              <li><a href="#">Section 1</a></li>
              <li><a href="#">Section 2</a></li>
              <li><a href="#">Section 3</a></li>
              <li><a href="#">Section 4</a></li>
              <li><a href="#">Section 5</a></li>
              <li><a href="#">Section 6</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>

<script src="js/vendor/jquery-1.10.2.js" type="text/javascript"></script>
<script src="js/vendor/underscore.js" type="text/javascript"></script>
<script src="js/vendor/backbone.js" type="text/javascript"></script>
<script src='js/vendor/firebase-simple-login.js' type='text/javascript'></script>
<script src="js/vendor/tinymce/tinymce.min.js" type="text/javascript"></script>
<script src='js/vendor/firebase.js'></script>

<script src="js/script2.js" type="text/javascript"></script>
<script type="text/javascript">initFireBase();</script>

</body>
</html>