<html>
<head>
	<title>Idea Hub</title>
	<link rel="stylesheet" type="text/css" href="css/foundation.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">	
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	<!-- Header and Nav -->
  <div class="navContainer">
    <div class="row">
      <div class="large-9 small-8 columns">
        <div class="panel">
          <a href="#"><h1>IdeaHub</h1></a>
        </div>
      </div>
      <div class="large-3 small-4 columns">
        <div class="panel">
          <a class="login" href="#"><h4>Login</h4></a>
        </div>
      </div>
    </div>
  </div>
  <!-- End Header and Nav -->
  <div class="row mainBody">

  <!-- Main Feed -->

  <div class="large-12 columns">

  <!-- Feed Entry -->

  <!--Start Templating-->
  <div id="ideas-feed">
  	
  </div>

  <div class="templates">
    <script class="idea-template" type="text/template">
		  <div class="idea-template">
		    <div class="row">
		      <div class="large-2 columns small-3"><img src=<%=authorImageUrl %> /><br>
		        <p><%=author%></p>
		      </div>
		      <div class="large-8 columns small-7">
		        <h3><strong><%= ideaTitle %></strong></h3> 
		        <p><%= ideaDesc %></p>
		        <ul class="inline-list">
		          <li><a href="">Reply</a></li>
		          <li><a href="">Share</a></li>
		        </ul>
		      </div>
		      <div class="large-2 columns small-2 votesBox">
		        <img src="http://placekitten.com/25/25" />
		        <div class="votes"><%= votes %></div>
		        <img src="http://placekitten.com/25/25" />
		      </div>
		    </div>
 
		    <hr />
		  </div>
		</script>
	</div>

  <!--End Templating-->

 
  <!-- Footer -->
 
    <footer class="row">
      <div class="large-12 small-12 columns">
        <hr />
        <div class="row">
          <div class="large-5 small-5 columns">
            <p>&copy; Copyright no one at all. Go to town.</p>
          </div>
          <div class="large-7 small-7 columns">
            <ul class="inline-list right">
              <li><a href="#">Section 1</a></li>
              <li><a href="#">Section 2</a></li>
              <li><a href="#">Section 3</a></li>
              <li><a href="#">Section 4</a></li>
              <li><a href="#">Section 5</a></li>
              <li><a href="#">Section 6</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>

<form>
  <input type="text" class="ideaTitle" placeholder="Project Title"/>
  <textarea class="ideaDesc" name="ideaDesc" id="" cols="30" rows="10" placeholder="Project description"></textarea>
  <input type="submit" value="Submit" class="ideaSubmit"/>
</form>

<script src="js/vendor/jquery-1.10.2.js" type="text/javascript"></script>
<script src="js/vendor/underscore.js" type="text/javascript"></script>
<script src="js/vendor/backbone.js" type="text/javascript"></script>
<script src='js/vendor/firebase-simple-login.js' type='text/javascript'></script>
<script src='js/vendor/firebase.js'></script>

<script src="js/our_firebase.js" type="text/javascript"></script>

<script src="js/script.js" type="text/javascript"></script>
</body>
</html>